html, body {
    background-color: #10002b;
}

.avatar-box {
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
}

.avatar-box img {
    height: 10rem;
    border-radius: 50%;
    box-shadow: 0 0 15px 5px #5d5d5d;
}

.name {
    margin-top: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 30px;
    color: #c9c9c9;
    text-align: center;
}

.description {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
    color: #c9c9c9;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-links a {
    text-decoration: none;
    color: #c9c9c9;
    transition: .25s;
}

.social-links a:hover {
    color: #9d4edd;
}